{:lint-as {akar-commons.miscellaneous/define-alias clojure.core/def
           akar-commons.syntax-utilities/define-syntax clojure.core/def
           akar-commons.trampoline/defn-trampolined clojure.core/defn
           panini.core/define-rule clojure.core/def
           panini.core/define-syntax clojure.core/defmacro}}
